You've been hired to help a client analyze the Manhattan vacation rental market. They want guidance on which property types to invest in, and your task is to analyze Airbnb data for insights.

You’ll make your recommendations by answering these questions: 

Which neighborhoods and property sizes (i.e. number of bedrooms) are most attractive for vacation rentals?
How much money did these listings generate?


1. Which neighborhoods and property sizes i.e. number of bedrooms are most attractive for vacation rentals?

Which 10 neighborhoods are most attractive for vacation rentals?

Which size properties i.e., how many bedrooms are most popular for vacation rentals?


2. How much money did the most attractive listings generate?